In [1]:
import pandas as pd
import numpy as np

In [2]:
titanic = pd.read_csv('C:/Users\santh/OneDrive/Desktop/Thiyag/BDA 104-Assignment/Titanic_original1.csv')

In [3]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [9]:
titanic_sex = pd.get_dummies(titanic['Sex'])
titanic_new = pd.concat([titanic, titanic_sex], axis=1)
titanic_new.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,female,male
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,1

In [10]:
titanic_num = titanic_new._get_numeric_data()
titanic1 = titanic_num.dropna()

In [23]:
X = titanic1[['PassengerId','Pclass','Age','SibSp','Parch','Fare','female','male']]
Y = titanic1['Survived']

In [24]:
bestfeatures = SelectKBest(score_func=chi2, k=8)
fit = bestfeatures.fit(X,Y)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(X.columns)
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['details','Score']
print(featureScores.nlargest(8,'Score'))

       details        Score
5         Fare  4139.343839
6       female   131.520858
0  PassengerId    91.869682
7         male    75.776918
2          Age    30.209234
1       Pclass    28.973197
4        Parch    10.479759
3        SibSp     0.362316

In [ ]:
#I have removed the feature variable(Name,Sex,Ticket,Cabin,Embarked) because it doesn't have numeric
#datatype and i have removed 'SibSp' since feature score value is very low also it does affect regression score as well.

In [47]:
X = titanic1[['PassengerId','Pclass','Age','Fare','female','male','Parch']]
Y = titanic1['Survived']

In [52]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=0)
logreg = LogisticRegression()
lrf = logreg.fit(X_train, y_train)

C:\Users\santh\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [53]:
logreg.score(X_test, y_test)

0.8232558139534883

In [54]:
pred = lrf.predict(X_test)
accuracy_score(y_test,pred)

0.8232558139534883