In [1]:
import pandas as pd
import numpy as np

In [2]:
titanic = pd.read_csv('C:/Users\santh/OneDrive/Desktop/Thiyag/BDA 104-Assignment/Titanic_original.csv')

In [3]:
titanic_sex = pd.get_dummies(titanic['Sex'])
titanic_new = pd.concat([titanic, titanic_sex], axis=1)
titanic_new.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,female,male
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,1

In [4]:
titanic_num = titanic_new._get_numeric_data()
titanic1 = titanic_num.dropna()

In [5]:
X = titanic1[['Pclass','Age','SibSp','Parch','Fare','female','male']]
Y = titanic1['Survived']

In [6]:
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=0)

In [7]:
clf = DecisionTreeClassifier()
clf = clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)
metrics.accuracy_score(y_test, y_pred)

0.772093023255814

In [8]:
from sklearn.model_selection import GridSearchCV
parameters = {'max_features': ['log2', 'sqrt','auto'], 
              'criterion': ['entropy', 'gini'],
              'max_depth': [2, 3, 5, 10], 
              'min_samples_split': [2, 3, 5],
              'min_samples_leaf': [1,5,8]
             }
grid_obj = GridSearchCV(clf, parameters, cv=5)
grid_obj = grid_obj.fit(X_train, y_train)
clf1 = grid_obj.best_estimator_
clf1.fit(X_train, y_train)

C:\Users\santh\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=10,
            max_features='log2', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=8, min_samples_split=5,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [9]:
parameters = {'max_features': ['log2', 'sqrt','auto'], 
              'criterion': ['entropy', 'gini'],
              'max_depth': [5, 7, 9, 12], 
              'min_samples_split': [3, 5, 7],
              'min_samples_leaf': [3,7,9]
             }
grid_obj = GridSearchCV(clf, parameters, cv=7)
grid_obj = grid_obj.fit(X_train, y_train)
clf2 = grid_obj.best_estimator_
clf2.fit(X_train, y_train)
y_pred = clf2.predict(X_test)
metrics.accuracy_score(y_test, y_pred)

C:\Users\santh\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

0.8

In [10]:
clf.feature_importances_

array([0.13805077, 0.27412012, 0.0712937 , 0.01354455, 0.2203601 ,
       0.        , 0.28263076])

In [11]:
from sklearn.metrics import classification_report, confusion_matrix  
print(confusion_matrix(y_test, y_pred))  
print(classification_report(y_test, y_pred))

[[117   8]
 [ 35  55]]
              precision    recall  f1-score   support

           0       0.77      0.94      0.84       125
           1       0.87      0.61      0.72        90

   micro avg       0.80      0.80      0.80       215
   macro avg       0.82      0.77      0.78       215
weighted avg       0.81      0.80      0.79       215